@use "uniform/core";
@use "sass:map";

$config: (
  utilities: (
    font-style: (
      important: false,
      shorthand: null,
      responsive: false,
      responsive-pseudos: false,
      extra-selector: null,
      properties: (font-style),
      static-properties: (),
      variants: (
        italic: italic,
        normal: normal
      ),
      pseudos: ()
    )
  )
);

core.$all-config: map.deep-merge(core.$all-config, $config);