@use "uniform/core";
@use "sass:map";

$name: font-weight;
$shorthand: null;
$responsive: false;
$responsive-pseudos: false;
$extra-selector: null;

$properties: (font-weight);
$static-properties: ();

$variants: (
	core.merge(
    core.font-weights()
  )
);

$pseudos: (
  hover
);

$config: (
  utilities: (
    $name: (
      shorthand: $shorthand,
      responsive: $responsive,
      responsive-pseudos: $responsive-pseudos,
      extra-selector: $extra-selector,
      properties: $properties,
      static-properties: $static-properties,
      variants: (
        $variants
      ),
      pseudos: (
        $pseudos
      )
    )
  )
);

core.$all-config: map.deep-merge(core.$all-config, $config);