@use "uniform/core";
@use "sass:map";

$config: (
  utilities: (
    text-overflow: (
      important: false,
      shorthand: null,
      responsive: true,
      responsive-pseudos: false,
      extra-selector: null,
      properties: (text-overflow),
      static-properties: (),
      variants: (
        clip: clip,
        ellipsis: ellipsis
      ),
      pseudos: ()
    )
  )
);

core.$all-config: map.deep-merge(core.$all-config, $config);