@use "uniform/core";
@use "sass:map";

$config: (
  utilities: (
    list-style-positions: (
      important: false,
      shorthand: list,
      responsive: false,
      responsive-pseudos: false,
      extra-selector: null,
      properties: (list-style-positions),
      static-properties: (),
      variants: (
        inside: inside,
        outside: outside
      ),
      pseudos: (none)
    )
  )
);

core.$all-config: map.deep-merge(core.$all-config, $config);