@use "uniform/core";
@use "sass:map";

$config: (
  utilities: (
    overflow-wrap: (
      shorthand: overflow-wrap,
      responsive: true,
      responsive-pseudos: false,
      extra-selector: null,
      properties: (overflow-wrap),
      static-properties: (),
      variants: (
        normal: normal,
        any: anywhere,
        word: break-word
      ),
      pseudos: ()
    )
  )
);

core.$all-config: map.deep-merge(core.$all-config, $config);