@use "uniform/core";
@use "sass:map";

$config: (
  utilities: (
    letter-spacing: (
      shorthand: tracking,
      responsive: false,
      responsive-pseudos: false,
      extra-selector: null,
      properties: (letter-spacing),
      static-properties: (),
      variants: (
        core.merge(
          core.trackings(),
          (
            none: 0
          )
        )
      ),
      pseudos: ()
    )
  )
);

core.$all-config: map.deep-merge(core.$all-config, $config);