@use "uniform/core";
@use "sass:map";

$config: (
  utilities: (
    font-family: (
      shorthand: font,
      responsive: false,
      responsive-pseudos: false,
      extra-selector: null,
      properties: (font-family),
      static-properties: (),
      variants: (
        core.font-families()
      ),
      pseudos: ()
    )
  )
);

core.$all-config: map.deep-merge(core.$all-config, $config);