@use "uniform/core";
@use "sass:map";

$name: line-height;
$shorthand: leading;
$responsive: true;
$responsive-pseudos: false;
$extra-selector: null;

$properties: (line-height);
$static-properties: ();

$variants: (
  core.merge(
    core.leadings(),
    ( 
      100: 1,
      110: 1.1,
      120: 1.2,
      130: 1.3,
      140: 1.4,
      150: 1.5,
      160: 1.6,
      170: 1.7,
      180: 1.8,
      190: 1.9,
      200: 2,
      210: 2.1,
      220: 2.2,
      230: 2.3,
      240: 2.4,
      250: 2.5
    )
  )
);

$pseudos: ();

$config: (
  utilities: (
    $name: (
      shorthand: $shorthand,
      responsive: $responsive,
      responsive-pseudos: $responsive-pseudos,
      extra-selector: $extra-selector,
      properties: $properties,
      static-properties: $static-properties,
      variants: (
        $variants
      ),
      pseudos: (
        $pseudos
      )
    )
  )
);

core.$all-config: map.deep-merge(core.$all-config, $config);