@use "uniform/core";
@use "sass:map";

$name: font-smooth;
$shorthand: null;
$responsive: false;
$responsive-pseudos: false;
$extra-selector: null;

$properties: ();
$static-properties: ();

$variants: (
  antialiased: (
    -webkit-font-smoothing: antialiased,
    -moz-osx-font-smoothing: grayscale
  ),
  subpixel-antialiased: (
    -webkit-font-smoothing: auto,
    -moz-osx-font-smoothing: auto
  ),
);

$pseudos: ();

$config: (
  utilities: (
    $name: (
      shorthand: $shorthand,
      responsive: $responsive,
      responsive-pseudos: $responsive-pseudos,
      extra-selector: $extra-selector,
      properties: $properties,
      static-properties: $static-properties,
      variants: (
        $variants
      ),
      pseudos: (
        $pseudos
      )
    )
  )
);

core.$all-config: map.deep-merge(core.$all-config, $config);