@use "uniform/core";
@use "sass:map";

$config: (
  utilities: (
    text-size: (
      shorthand: text,
      responsive: true,
      responsive-pseudos: false,
      extra-selector: null,
      properties: (),
      static-properties: (),
      variants: (
        core.text-sizes()
      ),
      pseudos: ()
    )
  )
);

core.$all-config: map.deep-merge(core.$all-config, $config);