@use "uniform/core";
@use "sass:map";

$name: margin-left;
$shorthand: ml;
$responsive: true;
$responsive-pseudos: false;
$extra-selector: null;

$properties: (margin-left);
$static-properties: ();

$range-limit: map.get(core.$all-config, range-limits, margin);

$variants: (
	core.merge(
		core.sizes($range-limit),
		(
      auto: auto,
      0: 0,
    )
	)
);

$pseudos: (first, last);

$config: (
  utilities: (
    $name: (
      shorthand: $shorthand,
      responsive: $responsive,
      responsive-pseudos: $responsive-pseudos,
      extra-selector: $extra-selector,
      properties: $properties,
      static-properties: $static-properties,
      variants: (
        $variants
      ),
      pseudos: (
        $pseudos
      )
    )
  )
);

core.$all-config: map.deep-merge(core.$all-config, $config);