@use "uniform/core";
@use "sass:map";

$range-limit: map.get(core.$all-config, range-limits, margin);

$config: (
  utilities: (
    margin-x: (
      important: false,
      shorthand: mx,
      responsive: true,
      responsive-pseudos: false,
      extra-selector: null,
      properties: (margin-left, margin-right),
      static-properties: (),
      variants: (
        core.merge(
          core.positive-sizes($range-limit),
          (
            auto: auto,
            0: 0,
          )
        )
      ),
      pseudos: ()
    )
  )
);

core.$all-config: map.deep-merge(core.$all-config, $config);