@use "uniform/core";
@use "sass:map";

$config: (
  utilities: (
    transform-origin: (
      shorthand: transform,
      responsive: true,
      responsive-pseudos: false,
      extra-selector: null,
      properties: (transform-origin),
      static-properties: (),
      variants: (
        center: center,
        center-bottom: center bottom,
        center-left: center left,
        center-right: center right,
        top: top,
        top-right: top right,
        right: right,
        bottom-right: bottom right,
        bottom: bottom,
        bottom-left: bottom left,
        left: left,
        top-left: top left
      ),
      pseudos: ()
    )
  )
);

core.$all-config: map.deep-merge(core.$all-config, $config);