@use "uniform/core";
@use "sass:map";

$range-limit: map.get(core.$all-config, range-limits, translate);

$config: (
  utilities: (
    translate-x: (
      important: false,
      shorthand: translate-x,
      responsive: true,
      responsive-pseudos: false,
      extra-selector: null,
      properties: (--translate-x),
      static-properties: (),
      variants: (
        core.merge(
          core.positive-sizes($range-limit),
          core.negative-sizes($range-limit),
          (
            0: 0,
            50p: 50%,
            100p: 100%,
            n50p: -50%,
            n100p: -100%
          )
        )
      ),
      pseudos: (hover, focus)
    )
  )
);

core.$all-config: map.deep-merge(core.$all-config, $config);