@use "uniform/core";
@use "sass:map";

$config: (
  utilities: (
    scale-y: (
      shorthand: scale-y,
      responsive: true,
      responsive-pseudos: false,
      extra-selector: null,
      properties: (--scale-y),
      static-properties: (),
      variants: (
        0: 0,
        50: 0.5,
        75: 0.75,
        80: 0.8,
        85: 0.85,
        90: 0.9,
        95: 0.95,
        100: 1,
        105: 1.05,
        110: 1.1,
        115: 1.15,
        120: 1.2,
        125: 1.25,
        130: 1.3,
        135: 1.35,
        140: 1.4,
        145: 1.45,
        150: 1.5,
      ),
      pseudos: (hover, focus)
    )
  )
);

core.$all-config: map.deep-merge(core.$all-config, $config);