// 1. Load Uniform Module
// @use "uniform" as *;

// 2. Configure Uniform (Optional)
@use 'uniform' as * with (
  $config: (
    output: 'css',
    important: false,
    comma-compression: true,
    css-variables: true,
  )
);

// -----------------------
// New Features v1.2 ~ 1.5
// -----------------------

// **Introducing Output Modes**
// - Setting `output` to `'css'` outputs CSS (default),
// - You can also output JSON by setting this to `'json'`!
// - or set to `'headless'` to enable headless mode

// **Multi-Property Utilities**
// - You can now generate multi-property utilities directly via the utilities settings

// **Localized Important**
// - Enable important locally directly via the utilities settings

// **Other Improvements**
// - You can enable subsequent sibling selector for checked input with `checked-sibling`
