/*! UNIFORM CSS | MIT License | github.com/ThinkUniform/UniformCSS */

@use "sass:map";
@use "sass:list";
@use "sass:color";

// CORE SETTINGS
// ============================================================

$important: false !default;
$prefix: "" !default;
$delimiter: "-" !default;
$child-delimiter: "\\/" !default;
$pseudo-delimiter: "\\." !default;
$breakpoint-delimiter: "\\." !default;
$responsive-pseudos: false !default;

// DEFAULT STYLE SETTINGS
// ============================================================

$include-baseline-styles: true !default;
$include-document-styles: true !default;
$include-form-styles: true !default;
$include-table-styles: true !default;
$include-typography-styles: true !default;

// MODULE SETTINGS
// ============================================================

$include-button-module: false !default;
$include-card-module: false !default;
$include-form-module: false !default;
$include-table-module: false !default;
$include-wrapper-module: false !default;

// PRIVATE FUNCTIONS
// ============================================================

// PX TO REM FUNCTION
@function rem($size-in-pixel) {
  $remSize: $size-in-pixel / 16;
  @return #{$remSize}rem;
}

// MULTIPLE MAP MERGE FUNCTION
@function merge($maps...) {
  $collection: () !default;
  @each $map in $maps {
    $collection: map-merge($collection, $map);
  }
  @return $collection;
}

// DEEP MAP GET FUNCTION
@function get($map, $keys...) {
  @each $key in $keys {
    $map: map.get($map, $key);
  }
  @return $map;
}

// CORE PSEUDOS
// ============================================================

$core-pseudo-map: (
  first: "first-child",
  last: "last-child",
  last-type: "last-of-type",
  odd: "nth-child(odd)",
  even: "nth-child(even)",
  hover: "hover",
  active: "active",
  visited: "visited",
  focus: "focus",
  disabled: "disabled",
  empty: "empty",
  focus-within: "focus-within",
  group-hover: "group-hover",
) !default;

$pseudo-map: () !default;

$all-pseudo-map: merge($core-pseudo-map, $pseudo-map) !default;

// CORE BREAKPOINTS
// ============================================================

$core-transitions: (
  all-slow: all 0.4s,
  all-steady: all 0.2s,
  all-fast: all 0.1s,
  visuals-slow: (
    background-color 0.4s,
    border-color 0.4s,
    color 0.4s,
    fill 0.4s,
    stroke 0.4s,
    opacity 0.4s,
    box-shadow 0.4s,
    transform 0.4s,
  ),
  visuals-steady: (
    background-color 0.2s,
    border-color 0.2s,
    color 0.2s,
    fill 0.2s,
    stroke 0.2s,
    opacity 0.2s,
    box-shadow 0.2s,
    transform 0.2s,
  ),
  visuals-fast: (
    background-color 0.1s,
    border-color 0.1s,
    color 0.1s,
    fill 0.1s,
    stroke 0.1s,
    opacity 0.1s,
    box-shadow 0.1s,
    transform 0.1s,
  ),
) !default;

$transitions: () !default;

$all-transitions: merge($core-transitions, $transitions) !default;

@function transition($transition) {
  @if (map.get($all-transitions, $transition)) {
    $result: map.get($all-transitions, $transition);
    @return $result;
  } @else {
    @error "[#{$transition}] does not exist";
  }
}

@function transitions() {
  $result: $all-transitions;
  @return $result;
}

// CORE BREAKPOINTS
// ============================================================

$core-breakpoints: (
  sm: 768px,
  md: 1024px,
  lg: 1280px,
  xl: 1440px,
) !default;

$breakpoints: () !default;

$all-breakpoints: merge($core-breakpoints, $breakpoints) !default;

@function breakpoint($breakpoint) {
  @if (map.get($all-breakpoints, $breakpoint)) {
    $result: map.get($all-breakpoints, $breakpoint);
    @return $result;
  } @else {
    @error "[#{$breakpoint}] does not exist";
  }
}

@function breakpoints() {
  $result: $all-breakpoints;
  @return $result;
}

// CORE FILLS
// ============================================================

$core-colors: (
  red-50: #ffeae9,
  red-100: #ffd7d4,
  red-200: #ffafa9,
  red-300: #ff867f,
  red-400: #ff4a3e,
  red-500: #ff3629,
  red-600: #e63125,
  red-700: #bf281f,
  red-800: #8c1e17,
  red-900: #59130e,
  red-950: #260806,
  orange-50: #ffeee9,
  orange-100: #ffded4,
  orange-200: #ffbda9,
  orange-300: #ff9c7d,
  orange-400: #ff6a3c,
  orange-500: #ff5a27,
  orange-600: #e65123,
  orange-700: #bf431d,
  orange-800: #8c3115,
  orange-900: #591f0e,
  orange-950: #260d06,
  yellow-50: #fff6e5,
  yellow-100: #ffeecc,
  yellow-200: #ffdc99,
  yellow-300: #ffcb66,
  yellow-400: #ffb019,
  yellow-500: #ffa800,
  yellow-600: #e69700,
  yellow-700: #bf7e00,
  yellow-800: #8c5c00,
  yellow-900: #593b00,
  yellow-950: #261900,
  green-50: #e5fae9,
  green-100: #cdf6d3,
  green-200: #9aeda7,
  green-300: #68e37c,
  green-400: #1cd539,
  green-500: #03d124,
  green-600: #03bc20,
  green-700: #029d1b,
  green-800: #027314,
  green-900: #01490d,
  green-950: #001f05,
  teal-50: #e8f7f3,
  teal-100: #d2efe8,
  teal-200: #a5dfd1,
  teal-300: #79d0bb,
  teal-400: #35b898,
  teal-500: #1fb08d,
  teal-600: #1c9f7f,
  teal-700: #17846a,
  teal-800: #11614d,
  teal-900: #0b3d31,
  teal-950: #051a15,
  blue-50: #e8f7ff,
  blue-100: #d2efff,
  blue-200: #a4deff,
  blue-300: #77ceff,
  blue-400: #32b5ff,
  blue-500: #1cadff,
  blue-600: #199ce6,
  blue-700: #1581bf,
  blue-800: #0f5f8c,
  blue-900: #0a3c59,
  blue-950: #041a26,
  indigo-50: #e9eeff,
  indigo-100: #d4deff,
  indigo-200: #a9bcff,
  indigo-300: #7f9bff,
  indigo-400: #3e68ff,
  indigo-500: #2958ff,
  indigo-600: #254fe6,
  indigo-700: #1f42bf,
  indigo-800: #17308c,
  indigo-900: #0e1f59,
  indigo-950: #060d26,
  purple-50: #f1e9fc,
  purple-100: #e3d3f8,
  purple-200: #c8a8f2,
  purple-300: #ad7ceb,
  purple-400: #833ae1,
  purple-500: #7625de,
  purple-600: #6a21c8,
  purple-700: #581ca6,
  purple-800: #41147a,
  purple-900: #290d4d,
  purple-950: #120621,
  magenta-50: #fce9fa,
  magenta-100: #f8d3f5,
  magenta-200: #f2a8ea,
  magenta-300: #eb7ce0,
  magenta-400: #e13ad0,
  magenta-500: #de25cb,
  magenta-600: #c821b7,
  magenta-700: #a61c98,
  magenta-800: #7a146f,
  magenta-900: #4d0d47,
  magenta-950: #21061e,
  pink-50: #fff1f9,
  pink-100: #ffe3f4,
  pink-200: #ffc8e9,
  pink-300: #ffacde,
  pink-400: #ff82cd,
  pink-500: #ff75c8,
  pink-600: #e66ab4,
  pink-700: #bf5896,
  pink-800: #8c406e,
  pink-900: #592946,
  pink-950: #26111e,
  gray-50: #f8f8f9,
  gray-100: #f0f1f4,
  gray-200: #e2e3e9,
  gray-300: #d3d6df,
  gray-400: #bdc1ce,
  gray-500: #b6bac9,
  gray-600: #a4a8b5,
  gray-700: #888b97,
  gray-800: #64666e,
  gray-900: #404146,
  gray-950: #1b1c1e,
  black: black,
  white: white,
) !default;

$colors: () !default;

$core-gradients: () !default;

$gradients: () !default;

$all-colors: merge($core-colors, $colors);
$all-gradients: merge($core-gradients, $gradients);

$fills: merge($core-colors, $core-gradients, $colors, $gradients) !default;

@function color($color) {
  @if (map.get($all-colors, $color)) {
    $result: map.get($all-colors, $color);
    @return $result;
  } @else {
    @error "[#{$color}] does not exist";
  }
}

@function colors() {
  $result: $all-colors;
  @return $result;
}

@function gradient($gradient) {
  @if (map.get($all-gradients, $gradient)) {
    $result: map.get($all-gradients, $gradient);
    @return $result;
  } @else {
    @error "[#{$gradient}] does not exist";
  }
}

@function gradients() {
  $result: $all-gradients;
  @return $result;
}

@function fill($fill) {
  @if (map.get($fills, $fill)) {
    $result: map.get($fills, $fill);
    @return $result;
  } @else {
    @error "[#{$fill}] does not exist";
  }
}

@function fills() {
  $result: $fills;
  @return $result;
}

// CORE SCALES
// ============================================================

$core-non-negative-sizes: (
  0: 0,
  1: rem(4),
  2: rem(8),
  3: rem(12),
  4: rem(16),
  5: rem(20),
  6: rem(24),
  7: rem(32),
  8: rem(40),
  9: rem(48),
  10: rem(64),
  11: rem(80),
  12: rem(96),
  13: rem(128),
  14: rem(160),
  15: rem(192),
  16: rem(256),
  17: rem(320),
  18: rem(384),
  19: rem(512),
  20: rem(640),
  21: rem(768),
) !default;

$non-negative-sizes: () !default;

$core-negative-sizes: (
  n1: rem(-4),
  n2: rem(-8),
  n3: rem(-12),
  n4: rem(-16),
  n5: rem(-20),
  n6: rem(-24),
  n7: rem(-32),
  n8: rem(-40),
  n9: rem(-48),
  n10: rem(-64),
  n11: rem(-80),
  n12: rem(-96),
  n13: rem(-128),
  n14: rem(-160),
  n15: rem(-192),
  n16: rem(-256),
  n17: rem(-320),
  n18: rem(-384),
  n19: rem(-512),
  n20: rem(-640),
  n21: rem(-768),
) !default;

$negative-sizes: () !default;

$all-non-negative-sizes: merge($core-non-negative-sizes, $non-negative-sizes);

$all-negative-sizes: merge($core-negative-sizes, $negative-sizes);

$all-sizes: merge(
  $core-non-negative-sizes,
  $core-negative-sizes,
  $non-negative-sizes,
  $negative-sizes
);

@function non-negative-size($non-negative-size) {
  @if (map.get($all-non-negative-sizes, $non-negative-size)) {
    $result: map.get($all-non-negative-sizes, $non-negative-size);
    @return $result;
  } @else {
    @error "[#{$non-negative-size}] does not exist";
  }
}

@function non-negative-sizes() {
  $result: $all-non-negative-sizes;
  @return $result;
}

@function negative-size($negative-size) {
  @if (map.get($all-negative-sizes, $negative-size)) {
    $result: map.get($all-negative-sizes, $negative-size);
    @return $result;
  } @else {
    @error "[#{$negative-size}] does not exist";
  }
}

@function negative-sizes() {
  $result: $all-negative-sizes;
  @return $result;
}

@function size($size, $sizes...) {
  $list: () !default;
  @if (map.has-key($all-sizes, $size)) {
    $list: map.get($all-sizes, $size);
  } @else {
    $list: list.append($list, $size);
  }
  @each $size in $sizes {
    $value: "";
    @if (map.has-key($all-sizes, $size)) {
      $value: map.get($all-sizes, $size);
      $list: list.append($list, $value);
    } @else {
      $list: list.append($list, $size);
    }
  }
  @return $list;
}

@function sizes() {
  $result: $all-sizes;
  @return $result;
}

// CORE EFFECTS
// ============================================================

$core-effects: (
  none: none,
  sm: (
    0 1px 2px 1px rgba(0, 0, 0, 0.08),
    0 2px 6px 0 rgba(0, 0, 0, 0.05),
  ),
  md: (
    0 2px 4px 1px rgba(0, 0, 0, 0.1),
    0 2px 4px 0px rgba(0, 0, 0, 0.1),
  ),
  lg: (
    0 1px 5px 0 rgba(0, 0, 0, 0.1),
    0 5px 10px 0 rgba(0, 0, 0, 0.15),
  ),
  focus: 0 0 0 3px transparentize(fill(indigo-500), 0.8),
  valid: 0 0 0 3px transparentize(fill(green-600), 0.8),
  warning: 0 0 0 3px transparentize(fill(orange-500), 0.8),
  error: 0 0 0 3px transparentize(fill(red-500), 0.8),
) !default;

$effects: () !default;

$all-effects: merge($core-effects, $effects);

@function effect($effect) {
  @if (map.get($all-effects, $effect)) {
    $result: map.get($all-effects, $effect);
    @return $result;
  } @else {
    @error "[#{$effect}] does not exist";
  }
}

@function effects() {
  $result: $all-effects;
  @return $result;
}

// TYPOGRAPHY API
// ============================================================

$core-font-families: (
  sans: (
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji",
  ),
  serif: (
    Georgia,
    Cambria,
    "Times New Roman",
    Times,
    serif,
  ),
  mono: (
    Menlo,
    Monaco,
    Consolas,
    "Liberation Mono",
    "Courier New",
    monospace,
  ),
) !default;

$font-families: () !default;

$core-font-weights: (
  light: 300,
  regular: 400,
  medium: 500,
  semibold: 600,
  bold: 700,
) !default;

$font-weights: () !default;

$core-font-sizes: (
  h1: rem(56),
  h2: rem(48),
  h3: rem(36),
  h4: rem(28),
  h5: rem(24),
  h6: rem(18),
  body: rem(16),
  tiny: rem(14),
  micro: rem(12),
) !default;

$font-sizes: () !default;

$core-line-heights: (
  none: 1,
  tightest: 1.125,
  tighter: 1.25,
  tight: 1.375,
  normal: 1.5,
  loose: 1.625,
  looser: 1.75,
  loosest: 1.875,
) !default;

$line-heights: () !default;

$all-font-families: merge($core-font-families, $font-families);
$all-font-weights: merge($core-font-weights, $font-weights);
$all-font-sizes: merge($core-font-sizes, $font-sizes);
$all-line-heights: merge($core-line-heights, $line-heights);

@function font-family($font-family) {
  @if (map.get($all-font-families, $font-family)) {
    $result: map.get($all-font-families, $font-family);
    @return $result;
  } @else {
    @error "[#{$font-family}] does not exist";
  }
}

@function font-families() {
  $result: $all-font-families;
  @return $result;
}

@function font-size($font-size) {
  @if (map.get($all-font-sizes, $font-size)) {
    $result: map.get($all-font-sizes, $font-size);
    @return $result;
  } @else {
    @error "[#{$font-size}] does not exist";
  }
}

@function font-sizes() {
  $result: $all-font-sizes;
  @return $result;
}

@function font-weight($font-weight) {
  @if (map.get($all-font-weights, $font-weight)) {
    $result: map.get($all-font-weights, $font-weight);
    @return $result;
  } @else {
    @error "[#{$font-weight}] does not exist";
  }
}

@function font-weights() {
  $result: $all-font-weights;
  @return $result;
}

@function line-height($line-height) {
  @if (map.get($all-line-heights, $line-height)) {
    $result: map.get($all-line-heights, $line-height);
    @return $result;
  } @else {
    @error "[#{$line-height}] does not exist";
  }
}

@function line-heights() {
  $result: $all-line-heights;
  @return $result;
}

// CORE BORDER RADIUSES
// ============================================================

$core-border-radiuses: (
  0: 0,
  sm: rem(3),
  md: rem(5),
  lg: rem(8),
  round: 9999px,
) !default;

$border-radiuses: () !default;
$all-border-radiuses: merge($core-border-radiuses, $border-radiuses);

@function radius($border-radius) {
  @if (map.get($all-border-radiuses, $border-radius)) {
    $result: map.get($all-border-radiuses, $border-radius);
    @return $result;
  } @else {
    @error "[#{$border-radius}] does not exist";
  }
}

@function radiuses() {
  $result: $all-border-radiuses;
  @return $result;
}

// CORE CONSTRUCTOR
// ============================================================

@mixin constructor($keyword, $responsive, $properties, $final-variants, $pseudos) {
  // Create basic classes
  @if $keyword == "exempt" {
    @each $variant, $variant-value in $final-variants {
      .#{$prefix}#{"" + $variant} {
        @each $property in $properties {
          #{$property}: $variant-value if($important == true, !important, null);
        }
      }
    }
  } @else {
    @each $variant, $variant-value in $final-variants {
      @if $variant == "exempt" {
        .#{$prefix}#{$keyword} {
          @each $property in $properties {
            #{$property}: $variant-value if($important == true, !important, null);
          }
        }
      } @else {
        .#{$prefix}#{$keyword} {
          &#{$delimiter}#{"" + $variant} {
            @each $property in $properties {
              #{$property}: $variant-value if($important == true, !important, null);
            }
          }
        }
      }
    }
  }

  // Create basic pseudo classes
  @each $pseudo in $pseudos {
    @if map.has-key($all-pseudo-map, $pseudo) {
      @if $keyword == "exempt" {
        @each $variant, $variant-value in $final-variants {
          @if $pseudo == group-hover {
            .group:hover .#{$pseudo}#{$pseudo-delimiter}#{$prefix}#{"" + $variant} {
              @each $property in $properties {
                #{$property}: $variant-value if($important == true, !important, null);
              }
            }
          } @else {
            .#{$pseudo}#{$pseudo-delimiter}#{$prefix}#{"" + $variant} {
              &:#{map.get($all-pseudo-map, $pseudo)} {
                @each $property in $properties {
                  #{$property}: $variant-value if($important == true, !important, null);
                }
              }
            }
          }
        }
      } @else {
        @each $variant, $variant-value in $final-variants {
          @if $variant == "exempt" {
            @if $pseudo == group-hover {
              .group:hover .#{$pseudo}#{$pseudo-delimiter}#{$prefix}#{$keyword} {
                @each $property in $properties {
                  #{$property}: $variant-value if($important == true, !important, null);
                }
              }
            } @else {
              .#{$pseudo}#{$pseudo-delimiter}#{$prefix}#{$keyword} {
                &:#{map.get($all-pseudo-map, $pseudo)} {
                  @each $property in $properties {
                    #{$property}: $variant-value if($important == true, !important, null);
                  }
                }
              }
            }
          } @else {
            @if $pseudo == group-hover {
              .group:hover .#{$pseudo}#{$pseudo-delimiter}#{$prefix}#{$keyword} {
                &#{$delimiter}#{"" + $variant} {
                  @each $property in $properties {
                    #{$property}: $variant-value if($important == true, !important, null);
                  }
                }
              }
            } @else {
              .#{$pseudo}#{$pseudo-delimiter}#{$prefix}#{$keyword} {
                &#{$delimiter}#{"" + $variant} {
                  &:#{map.get($all-pseudo-map, $pseudo)} {
                    @each $property in $properties {
                      #{$property}: $variant-value if($important == true, !important, null);
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  // Create responsive classes
  @if $responsive == true {
    @each $breakpoint, $breakpoint-value in $all-breakpoints {
      @media (min-width: $breakpoint-value) {
        // Create basic classes
        @if $keyword == "exempt" {
          @each $variant, $variant-value in $final-variants {
            .#{$breakpoint}#{$breakpoint-delimiter}#{$prefix}#{"" + $variant} {
              @each $property in $properties {
                #{$property}: $variant-value if($important == true, !important, null);
              }
            }
          }
        } @else {
          @each $variant, $variant-value in $final-variants {
            @if $variant == "exempt" {
              .#{$breakpoint}#{$breakpoint-delimiter}#{$prefix}#{$keyword} {
                @each $property in $properties {
                  #{$property}: $variant-value if($important == true, !important, null);
                }
              }
            } @else {
              .#{$breakpoint}#{$breakpoint-delimiter}#{$prefix}#{$keyword} {
                &#{$delimiter}#{"" + $variant} {
                  @each $property in $properties {
                    #{$property}: $variant-value if($important == true, !important, null);
                  }
                }
              }
            }
          }
        }

        @if $responsive-pseudos == true {
          // Create basic pseudo classes
          @each $pseudo, $pseudo-value in $pseudos {
            @if map.has-key($all-pseudo-map, $pseudo) {
              @if $keyword == "exempt" {
                // Basic variant in the breakpoint context without keyword
                @each $variant, $variant-value in $final-variants {
                  @if $pseudo == group-hover {
                    .group:hover
                      .#{$breakpoint}#{$breakpoint-delimiter}#{$pseudo}#{$pseudo-delimiter}#{$prefix}#{""
                      + $variant} {
                      @each $property in $properties {
                        #{$property}: $variant-value if($important == true, !important, null);
                      }
                    }
                  } @else {
                    .#{$breakpoint}#{$breakpoint-delimiter}#{$pseudo}#{$pseudo-delimiter}#{$prefix}#{""
                      + $variant} {
                      &:#{map.get($all-pseudo-map, $pseudo)} {
                        @each $property in $properties {
                          #{$property}: $variant-value if($important == true, !important, null);
                        }
                      }
                    }
                  }
                }
              } @else {
                // Pseudo variant loop in the breakpoint context
                @each $variant, $variant-value in $final-variants {
                  @if $variant == "exempt" {
                    @if $pseudo == group-hover {
                      .group:hover
                        .#{$breakpoint}#{$breakpoint-delimiter}#{$pseudo}#{$pseudo-delimiter}#{$prefix}#{$keyword} {
                        @each $property in $properties {
                          #{$property}: $variant-value if($important == true, !important, null);
                        }
                      }
                    } @else {
                      .#{$breakpoint}#{$breakpoint-delimiter}#{$pseudo}#{$pseudo-delimiter}#{$prefix}#{$keyword} {
                        &:#{map.get($all-pseudo-map, $pseudo)} {
                          @each $property in $properties {
                            #{$property}: $variant-value if($important == true, !important, null);
                          }
                        }
                      }
                    }
                  } @else {
                    @if $pseudo == group-hover {
                      .group:hover
                        .#{$breakpoint}#{$breakpoint-delimiter}#{$pseudo}#{$pseudo-delimiter}#{$prefix}#{$keyword} {
                        &#{$delimiter}#{"" + $variant} {
                          @each $property in $properties {
                            #{$property}: $variant-value if($important == true, !important, null);
                          }
                        }
                      }
                    } @else {
                      .#{$breakpoint}#{$breakpoint-delimiter}#{$pseudo}#{$pseudo-delimiter}#{$prefix}#{$keyword} {
                        &#{$delimiter}#{"" + $variant} {
                          &:#{map.get($all-pseudo-map, $pseudo)} {
                            @each $property in $properties {
                              #{$property}: $variant-value if($important == true, !important, null);
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
