@use "uniform/core";
@use "sass:map";

$keyword: border !default;
$responsive: false !default;

$properties: (border-collapse) !default;

$core-variants: (
  separate: separate,
  collapse: collapse
) !default;

$variants: () !default;

$final-variants: map.merge($core-variants, $variants);

$final-variants: ($final-variants) !default;

$pseudos: () !default;

@include core.constructor(
  $keyword,
  $responsive,
  $properties,
  $final-variants,
  $pseudos
);
