@use "uniform/core";
@use "sass:map";

$keyword: border-r !default;
$responsive: false !default;

$properties: (border-right-width) !default;

$core-variants: (
  0: 0,
  px: 1px,
  2px: 2px,
  3px: 3px
) !default;

$variants: () !default;

$final-variants: map.merge($core-variants, $variants);

$final-variants: ($final-variants) !default;

$pseudos: (hover, active, group-hover, focus-within) !default;

@include core.constructor(
  $keyword,
  $responsive,
  $properties,
  $final-variants,
  $pseudos
);
