@use "uniform/core";
@use "sass:map";

$keyword: radius-tl !default;
$responsive: true !default;

$properties: (border-top-left-radius) !default;

$core-variants: (core.radiuses()) !default;

$variants: () !default;

$final-variants: map.merge($core-variants, $variants);

$final-variants: ($final-variants) !default;

$pseudos: () !default;

@include core.constructor(
  $keyword,
  $responsive,
  $properties,
  $final-variants,
  $pseudos
);
