@use "uniform/core";
@use "sass:map";

$keyword: clear !default;
$responsive: false !default;

$properties: (clear) !default;

$core-variants: (
  left: left,
  right: right,
  both: both
) !default;

$variants: () !default;

$final-variants: map.merge($core-variants, $variants);

$final-variants: ($final-variants) !default;

$pseudos: () !default;

@include core.constructor(
  $keyword,
  $responsive,
  $properties,
  $final-variants,
  $pseudos
);
