@use "uniform/core";
@use "sass:map";

$keyword: col-count !default;
$responsive: true !default;

$properties: (column-count) !default;

$core-variants: (
  1: 1,
  2: 2,
  3: 3,
  4: 4,
  5: 5
) !default;

$variants: () !default;

$final-variants: map.merge($core-variants, $variants);

$final-variants: ($final-variants) !default;

$pseudos: () !default;

@include core.constructor(
  $keyword,
  $responsive,
  $properties,
  $final-variants,
  $pseudos
);
