@use "uniform/core";
@use "sass:map";

$keyword: col-rule !default;
$responsive: false !default;

$properties: (column-rule-style) !default;

$core-variants: (
  dotted: dotted,
  solid: solid
) !default;

$variants: () !default;

$final-variants: map.merge($core-variants, $variants);

$final-variants: ($final-variants) !default;

$pseudos: () !default;

@include core.constructor(
  $keyword,
  $responsive,
  $properties,
  $final-variants,
  $pseudos
);
