@use "uniform/core";
@use "sass:map";

$keyword: grid-cols !default;
$responsive: true !default;

$properties: (grid-template-columns) !default;

$core-variants: (
  none: none,
  1: repeat(1, minmax(0, 1fr)),
  2: repeat(2, minmax(0, 1fr)),
  3: repeat(3, minmax(0, 1fr)),
  4: repeat(4, minmax(0, 1fr)),
  5: repeat(5, minmax(0, 1fr)),
  6: repeat(6, minmax(0, 1fr)),
  7: repeat(7, minmax(0, 1fr)),
  8: repeat(8, minmax(0, 1fr)),
  9: repeat(9, minmax(0, 1fr)),
  10: repeat(10, minmax(0, 1fr)),
  11: repeat(11, minmax(0, 1fr)),
  12: repeat(12, minmax(0, 1fr))
) !default;

$variants: () !default;

$final-variants: map.merge($core-variants, $variants);

$final-variants: ($final-variants) !default;

$pseudos: () !default;

@include core.constructor(
  $keyword,
  $responsive,
  $properties,
  $final-variants,
  $pseudos
);
