@use "uniform/core";
@use "sass:map";

$keyword: tracking !default;
$responsive: false !default;

$properties: (letter-spacing) !default;

$core-variants: (
  tightest: -0.1em,
  tighter: -0.075em,
  tight: -0.05em,
  normal: 0,
  loose: 0.05em,
  looser: 0.075em,
  loosest: 0.1em
) !default;

$variants: () !default;

$final-variants: map.merge($core-variants, $variants);

$final-variants: ($final-variants) !default;

$pseudos: () !default;

@include core.constructor(
  $keyword,
  $responsive,
  $properties,
  $final-variants,
  $pseudos
);
