@use "uniform/core";
@use "sass:map";

$keyword: order !default;
$responsive: true !default;

$properties: (order) !default;

$core-variants: (
  first: -9999,
  last: 9999,
  none: 0,
  1: 1,
  2: 2,
  3: 3,
  4: 4,
  5: 5,
  6: 6,
  7: 7,
  8: 8,
  9: 9,
  10: 10,
  11: 11,
  12: 12
) !default;

$variants: () !default;

$final-variants: map.merge($core-variants, $variants);

$final-variants: ($final-variants) !default;

$pseudos: () !default;

@include core.constructor(
  $keyword,
  $responsive,
  $properties,
  $final-variants,
  $pseudos
);
