@use "uniform/core";
@use "sass:map";

$keyword: pl !default;
$responsive: true !default;

$properties: (padding-left) !default;

$core-variants: (
  core.merge(
    core.non-negative-sizes(),
    (
      px: 1px
    )
  )
) !default;

$variants: () !default;

$final-variants: map.merge($core-variants, $variants);

$final-variants: ($final-variants) !default;

$pseudos: () !default;

@include core.constructor(
  $keyword,
  $responsive,
  $properties,
  $final-variants,
  $pseudos
);
