@use "uniform/core";
@use "sass:map";

$keyword: scrolling !default;
$responsive: false !default;

$properties: (-webkit-overflow-scrolling) !default;

$core-variants: (
  auto: auto,
  touch: touch
) !default;

$variants: () !default;

$final-variants: map.merge($core-variants, $variants);

$final-variants: ($final-variants) !default;

$pseudos: () !default;

@include core.constructor(
  $keyword,
  $responsive,
  $properties,
  $final-variants,
  $pseudos
);
