@use "uniform/core";
@use "sass:map";

$keyword: table !default;
$responsive: true !default;

$properties: (table-layout) !default;

$core-variants: (
  auto: auto,
  fixed: fixed
) !default;

$variants: () !default;

$final-variants: map.merge($core-variants, $variants);

$final-variants: ($final-variants) !default;

$pseudos: () !default;

@include core.constructor(
  $keyword,
  $responsive,
  $properties,
  $final-variants,
  $pseudos
);
