@use "uniform/core";
@use "sass:map";

$keyword: align !default;
$responsive: false !default;

$properties: (vertical-align) !default;

$core-variants: (
  baseline: baseline,
  top: top,
  middle: middle,
  bottom: bottom,
  text-top: text-top,
  text-bottom: text-bottom
) !default;

$variants: () !default;

$final-variants: map.merge($core-variants, $variants);

$final-variants: ($final-variants) !default;

$pseudos: () !default;

@include core.constructor(
  $keyword,
  $responsive,
  $properties,
  $final-variants,
  $pseudos
);
