@use "uniform/core";
@use "sass:map";

$keyword: w !default;
$responsive: true !default;

$properties: (width) !default;

$core-variants: (
  core.merge(
    core.non-negative-sizes(),
    (
      auto: auto
    ),
    (
      full: 100%
    ),
    (
      screen: 100vw
    ),
    (
      px: 1px
    ),
    (
      '1-12': 8.333333%
    ),
    (
      '2-12': 16.666667%
    ),
    (
      '3-12': 25%
    ),
    (
      '4-12': 33.333333%
    ),
    (
      '5-12': 41.666667%
    ),
    (
      '6-12': 50%
    ),
    (
      '7-12': 58.333333%
    ),
    (
      '8-12': 66.666667%
    ),
    (
      '9-12': 75%
    ),
    (
      '10-12': 83.333333%
    ),
    (
      '11-12': 91.666667%
    ),
    (
      '1-5': 20%
    ),
    (
      '2-5': 40%
    ),
    (
      '3-5': 60%
    ),
    (
      '4-5': 80%
    )
  )
) !default;

$variants: () !default;

$final-variants: map.merge($core-variants, $variants);

$final-variants: ($final-variants) !default;

$pseudos: () !default;

@include core.constructor(
  $keyword,
  $responsive,
  $properties,
  $final-variants,
  $pseudos
);
