@use "uniform/core";
@use "sass:map";

$keyword: wordbreak !default;
$responsive: true !default;

$properties: (word-break) !default;

$core-variants: (
  normal: normal,
  word: break-word,
  all: break-all
) !default;

$variants: () !default;

$final-variants: map.merge($core-variants, $variants);

$final-variants: ($final-variants) !default;

$pseudos: () !default;

@include core.constructor(
  $keyword,
  $responsive,
  $properties,
  $final-variants,
  $pseudos
);
