@use "uniform/core";
@use "sass:map";

$name: grid-row-end;
$shorthand: row-end;
$responsive: true;
$responsive-pseudos: false;
$extra-selector: null;

$properties: (grid-row-end);
$static-properties: ();

$variants: (
  auto: auto,
  1: 1,
  2: 2,
  3: 3,
  4: 4,
  5: 5,
  6: 6,
);

$pseudos: ();

$config: (
  utilities: (
    $name: (
      shorthand: $shorthand,
      responsive: $responsive,
      responsive-pseudos: $responsive-pseudos,
      extra-selector: $extra-selector,
      properties: $properties,
      static-properties: $static-properties,
      variants: (
        $variants
      ),
      pseudos: (
        $pseudos
      )
    )
  )
);

core.$all-config: map.deep-merge(core.$all-config, $config);