@use "uniform/core";
@use "sass:map";

$config: (
  utilities: (
    grid-row-start: (
      important: false,
      shorthand: row-start,
      responsive: true,
      responsive-pseudos: false,
      extra-selector: null,
      properties: (grid-row-start),
      static-properties: (),
      variants: (
        auto: auto,
        1: 1,
        2: 2,
        3: 3,
        4: 4,
        5: 5,
        6: 6,
      ),
      pseudos: ()
    )
  )
);

core.$all-config: map.deep-merge(core.$all-config, $config);