@use "uniform/core";
@use "sass:map";

$config: (
  utilities: (
    grid-column-start: (
      important: false,
      shorthand: col-start,
      responsive: true,
      responsive-pseudos: false,
      extra-selector: null,
      properties: (grid-column-start),
      static-properties: (),
      variants: (
        auto: auto,
        1: 1,
        2: 2,
        3: 3,
        4: 4,
        5: 5,
        6: 6,
        7: 7,
        8: 8,
        9: 9,
        10: 10,
        11: 11,
        12: 12,
        13: 13,
      ),
      pseudos: ()
    )
  )
);

core.$all-config: map.deep-merge(core.$all-config, $config);