@use "uniform/core";
@use "sass:map";

$config: (
  utilities: (
    grid-row: (
      important: false,
      shorthand: row,
      responsive: true,
      responsive-pseudos: false,
      extra-selector: null,
      properties: (grid-row),
      static-properties: (),
      variants: (
        auto: auto,
        1: span 1 / span 1,
        2: span 2 / span 2,
        3: span 3 / span 3,
        4: span 4 / span 4,
        5: span 5 / span 5,
      ),
      pseudos: ()
    )
  )
);

core.$all-config: map.deep-merge(core.$all-config, $config);