@use "uniform/core";
@use "sass:map";

$config: (
  utilities: (
    grid-auto-flow: (
      shorthand: grid-flow,
      responsive: true,
      responsive-pseudos: false,
      extra-selector: null,
      properties: (grid-auto-flow),
      static-properties: (),
      variants: (
        row: row,
        col: column,
        row-dense: row dense,
        col-dense: column dense
      ),
      pseudos: ()
    )
  )
);

core.$all-config: map.deep-merge(core.$all-config, $config);