@use "uniform/core";
@use "sass:map";

$name: gutter-x;
$shorthand: gutter-x;
$responsive: true;
$responsive-pseudos: false;
$extra-selector: '> * + *';

$properties: (margin);
$static-properties: (
  --gutter-right: 0,
  --gutter-left: 1,
);

$range-limit: map.get(core.$all-config, range-limits, gutter);

$gutter-map: ();
@each $size-key, $size-value in core.sizes($range-limit) {
  $map: (
    $size-key: 0 calc(#{$size-value} * var(--gutter-right)) 0 calc(#{$size-value} * var(--gutter-left)),
  );
  $gutter-map: map.merge($gutter-map, $map);
}

$variants: (
  core.merge(
    $gutter-map,
    (
      0: 0,
    )
  )
);

$pseudos: ();

$config: (
  utilities: (
    $name: (
      shorthand: $shorthand,
      responsive: $responsive,
      responsive-pseudos: $responsive-pseudos,
      extra-selector: $extra-selector,
      properties: $properties,
      static-properties: $static-properties,
      variants: (
        $variants
      ),
      pseudos: (
        $pseudos
      )
    )
  )
);

core.$all-config: map.deep-merge(core.$all-config, $config);