@use "uniform/core";
@use "sass:map";

$config: (
  utilities: (
    gutter-reverse: (
      important: false,
      shorthand: gutter-reverse,
      responsive: true,
      responsive-pseudos: false,
      extra-selector: '> * + *',
      properties: (),
      static-properties: (
        --gutter-top: 0,
        --gutter-right: 1,
        --gutter-bottom: 1,
        --gutter-left: 0,
      ),
      variants: (
        null: null
      ),
      pseudos: ()
    )
  )
);

core.$all-config: map.deep-merge(core.$all-config, $config);