@use "uniform/core";
@use "sass:map";

$config: (
  utilities: (
    fill: (
      important: false,
      shorthand: fill,
      responsive: false,
      responsive-pseudos: false,
      extra-selector: null,
      properties: (fill),
      static-properties: (),
      variants: (
        current: currentColor
      ),
      pseudos: ()
    )
  )
);

core.$all-config: map.deep-merge(core.$all-config, $config);