@use "uniform/core";
@use "sass:map";

$config: (
  utilities: (
    flex: (
      shorthand: flex,
      responsive: true,
      responsive-pseudos: false,
      extra-selector: null,
      properties: (flex),
      static-properties: (),
      variants: (
        initial: 0 1 auto,
        1: 1 1 0%,
        auto: 1 1 auto,
        none: none
      ),
      pseudos: ()
    )
  )
);

core.$all-config: map.deep-merge(core.$all-config, $config);