@use "uniform/core";
@use "sass:map";

$config: (
  utilities: (
    align-self: (
      shorthand: align-self,
      responsive: true,
      responsive-pseudos: false,
      extra-selector: null,
      properties: (align-self),
      static-properties: (),
      variants: (
        auto: auto,
        stretch: stretch,
        center: center,
        start: flex-start,
        end: flex-end
      ),
      pseudos: ()
    )
  )
);

core.$all-config: map.deep-merge(core.$all-config, $config);