@use "uniform/core";
@use "sass:map";

$config: (
  utilities: (
    flex-direction: (
      shorthand: flex,
      responsive: true,
      responsive-pseudos: false,
      extra-selector: null,
      properties: (flex-direction),
      static-properties: (),
      variants: (
        row: row,
        row-reverse: row-reverse,
        col: column,
        col-reverse: column-reverse
      ),
      pseudos: ()
    )
  )
);

core.$all-config: map.deep-merge(core.$all-config, $config);