@use "uniform/core";
@use "sass:map";

$config: (
  utilities: (
    align-items: (
      important: false,
      shorthand: align-items,
      responsive: true,
      responsive-pseudos: false,
      extra-selector: null,
      properties: (align-items),
      static-properties: (),
      variants: (
        center: center,
        start: flex-start,
        end: flex-end,
        baseline: baseline,
        stretch: stretch
      ),
      pseudos: ()
    )
  )
);

core.$all-config: map.deep-merge(core.$all-config, $config);