@use "uniform/core";
@use "sass:map";

$config: (
  utilities: (
    order: (
      shorthand: order,
      responsive: true,
      responsive-pseudos: false,
      extra-selector: null,
      properties: (order),
      static-properties: (),
      variants: (
        first: -9999,
        last: 9999,
        1: 1,
        2: 2,
        3: 3,
        4: 4,
        5: 5,
        6: 6,
        7: 7,
        8: 8,
        9: 9,
        10: 10,
        11: 11,
        12: 12,
      ),
      pseudos: ()
    )
  )
);

core.$all-config: map.deep-merge(core.$all-config, $config);