@use "uniform/core";
@use "sass:map";

$range-limit: map.get(core.$all-config, range-limits, padding);

$config: (
  utilities: (
    padding: (
      shorthand: p,
      responsive: true,
      responsive-pseudos: false,
      extra-selector: null,
      properties: (padding),
      static-properties: (),
      variants: (
        core.merge(
          core.positive-sizes($range-limit),
          (
            0: 0,
          )
        )
      ),
      pseudos: ()
    )
  )
);

core.$all-config: map.deep-merge(core.$all-config, $config);