@use "uniform/core";
@use "sass:map";

$name: padding-y;
$shorthand: py;
$responsive: true;
$responsive-pseudos: false;
$extra-selector: null;

$properties: (padding-top, padding-bottom);
$static-properties: ();

$range-limit: map.get(core.$all-config, range-limits, padding);

$variants: (
	core.merge(
    core.positive-sizes($range-limit),
    (
      0: 0,
    )
	)
);

$pseudos: ();

$config: (
  utilities: (
    $name: (
      shorthand: $shorthand,
      responsive: $responsive,
      responsive-pseudos: $responsive-pseudos,
      extra-selector: $extra-selector,
      properties: $properties,
      static-properties: $static-properties,
      variants: (
        $variants
      ),
      pseudos: (
        $pseudos
      )
    )
  )
);

core.$all-config: map.deep-merge(core.$all-config, $config);