@use "uniform/core";
@use "sass:map";

$config: (
  utilities: (
    transition-property: (
      shorthand: transition,
      responsive: false,
      responsive-pseudos: false,
      extra-selector: null,
      properties: (transition-property),
      static-properties: (),
      variants: (
        none: none,
				all: all,
				null: (
					background-color,
					border-color,
					color,
					fill,
					stroke,
					opacity,
					box-shadow,
					transform,
					filter,
					backdrop-filter
				),
				colors: (
					background-color,
					border-color,
					color,
					fill,
					stroke
				),
				filters: (
					filter,
					backdrop-filter
				),
				opacity: opacity,
				shadow: box-shadow,
				transform: transform,
      ),
      pseudos: ()
    )
  )
);

core.$all-config: map.deep-merge(core.$all-config, $config);