@use "uniform/core";
@use "sass:map";

$config: (
  utilities: (
    transition-delay: (
      shorthand: delay,
      responsive: false,
      responsive-pseudos: false,
      extra-selector: null,
      properties: (transition-delay),
      static-properties: (),
      variants: (
        100: 100ms,
        200: 200ms,
        300: 300ms,
        400: 400ms,
        500: 500ms,
        600: 600ms,
        700: 700ms,
        800: 800ms,
        900: 900ms,
      ),
      pseudos: ()
    )
  )
);

core.$all-config: map.deep-merge(core.$all-config, $config);