@use "uniform/core";
@use "sass:map";

$config: (
  utilities: (
    transition-timing-function: (
      important: false,
      shorthand: null,
      responsive: false,
      responsive-pseudos: false,
      extra-selector: null,
      properties: (transition-timing-function),
      static-properties: (),
      variants: (
        linear: linear,
        ease: ease,
        ease-in: ease-in,
        ease-in-out: ease-in-out
      ),
      pseudos: ()
    )
  )
);

core.$all-config: map.deep-merge(core.$all-config, $config);