@use "uniform/core";
@use "sass:map";

$config: (
  utilities: (
    display: (
      shorthand: null,
      responsive: true,
      responsive-pseudos: false,
      extra-selector: null,
      properties: (display),
      static-properties: (),
      variants: (
        inline: inline,
        block: block,
        flex: flex,
        grid: grid,
        inline-block: inline-block,
        inline-flex: inline-flex,
        inline-grid: inline-grid,
        inline-table: inline-table,
        table: table,
        table-caption: table-caption,
        table-column-group: table-column-group,
        table-header-group: table-header-group,
        table-footer-group: table-footer-group,
        table-row-group: table-row-group,
        table-cell: table-cell,
        table-column: table-column,
        table-row: table-row,
        hidden: none,
        flow-root: flow-root,
      ),
      pseudos: ()
    )
  )
);

core.$all-config: map.deep-merge(core.$all-config, $config);