@use "uniform/core";
@use "sass:map";

$config: (
  utilities: (
    position: (
      shorthand: null,
      responsive: true,
      responsive-pseudos: false,
      extra-selector: null,
      properties: (position),
      static-properties: (),
      variants: (
        static: static,
        fixed: fixed,
        absolute: absolute,
        relative: relative,
        sticky: sticky
      ),
      pseudos: ()
    )
  )
);

core.$all-config: map.deep-merge(core.$all-config, $config);