@use "uniform/core";
@use "sass:map";

$config: (
  utilities: (
    clear: (
      important: false,
      shorthand: clear,
      responsive: false,
      responsive-pseudos: false,
      extra-selector: null,
      properties: (clear),
      static-properties: (),
      variants: (
        left: left,
        right: right,
        both: both
      ),
      pseudos: ()
    )
  )
);

core.$all-config: map.deep-merge(core.$all-config, $config);