@use "uniform/core";
@use "sass:map";

$config: (
  utilities: (
    box-decoration-break: (
      important: false,
      shorthand: decoration,
      responsive: true,
      responsive-pseudos: false,
      extra-selector: null,
      properties: (box-decoration-break, -webkit-box-decoration-break),
      static-properties: (),
      variants: (
        slice: slice,
        clone: clone
      ),
      pseudos: ()
    )
  )
);

core.$all-config: map.deep-merge(core.$all-config, $config);