@use "uniform/core";
@use "sass:map";

$name: z-index;
$shorthand: z;
$responsive: false;
$responsive-pseudos: false;
$extra-selector: null;

$properties: (z-index);
$static-properties: ();

$variants: (
  auto: auto,
  0: 0,
  1: 1,
  2: 2,
  3: 3,
  4: 4,
  5: 5,
  6: 6,
  7: 7,
  8: 8,
  9: 9,
  10: 10,
);

$pseudos: (focus);

$config: (
  utilities: (
    $name: (
      shorthand: $shorthand,
      responsive: $responsive,
      responsive-pseudos: $responsive-pseudos,
      extra-selector: $extra-selector,
      properties: $properties,
      static-properties: $static-properties,
      variants: (
        $variants
      ),
      pseudos: (
        $pseudos
      )
    )
  )
);

core.$all-config: map.deep-merge(core.$all-config, $config);