@use "uniform/core";
@use "sass:map";

$config: (
  utilities: (
    y: (
      important: false,
      shorthand: y,
      responsive: true,
      responsive-pseudos: false,
      extra-selector: null,
      properties: (top, bottom),
      static-properties: (),
      variants: (
        0: 0,
        auto: auto
      ),
      pseudos: ()
    )
  )
);

core.$all-config: map.deep-merge(core.$all-config, $config);