@use "uniform/core";
@use "sass:map";

$name: ratio;
$shorthand: ratio;
$responsive: true;
$responsive-pseudos: false;
$extra-selector: null;

$properties: ();
$static-properties: ();

$variants: (
  square: (
    position: relative,
    width: 100%,
    padding-top: 100%,
  ),
  '16-9': (
    position: relative,
    width: 100%,
    padding-top: 56.25%,
  ),
  '4-3': (
    position: relative,
    width: 100%,
    padding-top: 75%,
  ),
  '2-1': (
    position: relative,
    width: 100%,
    padding-top: 50%,
  ),
  '16-10': (
    position: relative,
    width: 100%,
    padding-top: 63%,
  )
);

$pseudos: ();

$config: (
  utilities: (
    $name: (
      shorthand: $shorthand,
      responsive: $responsive,
      responsive-pseudos: $responsive-pseudos,
      extra-selector: $extra-selector,
      properties: $properties,
      static-properties: $static-properties,
      variants: (
        $variants
      ),
      pseudos: (
        $pseudos
      )
    )
  )
);

core.$all-config: map.deep-merge(core.$all-config, $config);