@use "uniform/core";
@use "sass:map";

$config: (
  utilities: (
    leading-trim: (
      shorthand: leading,
      responsive: true,
      responsive-pseudos: false,
      extra-selector: null,
      properties: (leading-trim),
      static-properties: (),
      variants: (
        trimmer: both,
        a: a-value,
        b: b-value
      ),
      pseudos: ()
    )
  )
);

core.$all-config: map.deep-merge(core.$all-config, $config);