@use "uniform/core";
@use "sass:map";

$config: (
  utilities: (
    appearance: (
      important: false,
      shorthand: appearance,
      responsive: false,
      responsive-pseudos: false,
      extra-selector: null,
      properties: (appearance, -moz-appearance, -webkit-appearance),
      static-properties: (),
      variants: (
        none: none
      ),
      pseudos: (none)
    )
  )
);

core.$all-config: map.deep-merge(core.$all-config, $config);