@use "uniform/core";
@use "sass:map";

$config: (
  utilities: (
    overflow-y: (
      important: false,
      shorthand: overflow-y,
      responsive: true,
      responsive-pseudos: false,
      extra-selector: null,
      properties: (overflow-y),
      static-properties: (),
      variants: (
        auto: auto,
        hidden: hidden,
        visible: visible,
        scroll: scroll
      ),
      pseudos: ()
    )
  )
);

core.$all-config: map.deep-merge(core.$all-config, $config);