@use "uniform/core";
@use "sass:map";

$config: (
  utilities: (
    outline: (
      shorthand: outline,
      responsive: false,
      responsive-pseudos: false,
      extra-selector: null,
      properties: (outline),
      static-properties: (),
      variants: (
        none: none
      ),
      pseudos: (focus)
    )
  )
);

core.$all-config: map.deep-merge(core.$all-config, $config);