@use "uniform/core";
@use "sass:map";

$config: (
  utilities: (
    cursor: (
      important: false,
      shorthand: cursor,
      responsive: false,
      responsive-pseudos: false,
      extra-selector: null,
      properties: (cursor),
      static-properties: (),
      variants: (
        auto: auto,
        default: default,
        pointer: pointer,
        wait: wait,
        text: text,
        move: move,
        not-allowed: not-allowed
      ),
      pseudos: (hover, active)
    )
  )
);

core.$all-config: map.deep-merge(core.$all-config, $config);