@use "uniform/core";
@use "sass:map";

$config: (
  utilities: (
    background-attachment: (
      important: false,
      shorthand: bg,
      responsive: true,
      responsive-pseudos: false,
      extra-selector: null,
      properties: (background-attachment),
      static-properties: (),
      variants: (
        scroll: scroll,
        fixed: fixed,
        local: local
      ),
      pseudos: ()
    )
  )
);

core.$all-config: map.deep-merge(core.$all-config, $config);