@use "uniform/core";
@use "sass:map";

$config: (
  utilities: (
    animation: (
      important: false,
      shorthand: animate,
      responsive: false,
      responsive-pseudos: false,
      extra-selector: null,
      properties: (animation),
      static-properties: (),
      variants: (
        none: none,
        spin: spin 1s linear infinite,
        pulse: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite,
        ping: ping 2s cubic-bezier(0, 0, 0.2, 1) infinite,
        bounce: (bounce 1s infinite)
      ),
      pseudos: ()
    )
  )
);

core.$all-config: map.deep-merge(core.$all-config, $config);