@use "uniform/core";
@use "sass:map";

$name: opacity;
$shorthand: opacity;
$responsive: true;
$responsive-pseudos: false;
$extra-selector: null;

$properties: (opacity);
$static-properties: ();

$variants: (
  core.opacities()
);

$pseudos: (hover, group-hover, focus);

$config: (
  utilities: (
    $name: (
      shorthand: $shorthand,
      responsive: $responsive,
      responsive-pseudos: $responsive-pseudos,
      extra-selector: $extra-selector,
      properties: $properties,
      static-properties: $static-properties,
      variants: (
        $variants
      ),
      pseudos: (
        $pseudos
      )
    )
  )
);

core.$all-config: map.deep-merge(core.$all-config, $config);