@use "uniform/core";
@use "sass:map";

$config: (
  utilities: (
    opacity: (
      shorthand: opacity,
      responsive: true,
      responsive-pseudos: false,
      extra-selector: null,
      properties: (opacity),
      static-properties: (),
      variants: (
        core.opacities()
      ),
      pseudos: (hover, group-hover, focus)
    )
  )
);

core.$all-config: map.deep-merge(core.$all-config, $config);