@use "uniform/core";
@use "sass:map";

$config: (
  utilities: (
    backdrop-opacity: (
      shorthand: backdrop-opacity,
      responsive: false,
      responsive-pseudos: false,
      extra-selector: null,
      properties: (--backdrop-opacity),
      static-properties: (),
      variants: (
        core.opacities()
      ),
      pseudos: ()
    )
  )
);

core.$all-config: map.deep-merge(core.$all-config, $config);