@use "uniform/core";
@use "sass:map";

$config: (
  utilities: (
    filter-sepia: (
      important: false,
      shorthand: filter-sepia,
      responsive: false,
      responsive-pseudos: false,
      extra-selector: null,
      properties: (--filter-sepia),
      static-properties: (),
      variants: (
        0: 0,
        100: 1,
      ),
      pseudos: ()
    )
  )
);

core.$all-config: map.deep-merge(core.$all-config, $config);