@use "uniform/core";
@use "sass:map";

$config: (
  utilities: (
    backdrop-saturate: (
      important: false,
      shorthand: backdrop-saturate,
      responsive: false,
      responsive-pseudos: false,
      extra-selector: null,
      properties: (--backdrop-saturate),
      static-properties: (),
      variants: (
        100: 1,
        110: 1.1,
        120: 1.2,
        130: 1.3,
        140: 1.4,
        150: 1.5,
        160: 1.6,
        170: 1.7,
        180: 1.8,
        190: 1.9,
        200: 2,
      ),
      pseudos: ()
    )
  )
);

core.$all-config: map.deep-merge(core.$all-config, $config);