@use "uniform/core";
@use "sass:map";

$config: (
  utilities: (
    filter-opacity: (
      important: false,
      shorthand: filter-opacity,
      responsive: false,
      responsive-pseudos: false,
      extra-selector: null,
      properties: (--filter-opacity),
      static-properties: (),
      variants: (
        core.opacities()
      ),
      pseudos: ()
    )
  )
);

core.$all-config: map.deep-merge(core.$all-config, $config);