@use "uniform/core";
@use "sass:map";

$config: (
  utilities: (
    border-collapse: (
      important: false,
      shorthand: border,
      responsive: false,
      responsive-pseudos: false,
      extra-selector: null,
      properties: (border-collapse),
      static-properties: (),
      variants: (
        separate: separate,
        collapse: collapse
      ),
      pseudos: ()
    )
  )
);

core.$all-config: map.deep-merge(core.$all-config, $config);