@use "uniform/core";
@use "sass:map";

$name: border-top-right-radius;
$shorthand: radius-tr;
$responsive: true;
$responsive-pseudos: false;
$extra-selector: null;

$properties: (border-top-right-radius);
$static-properties: ();

$variants: (
	core.merge(
    core.radiuses(),
    (
      none: 0,
      full: 9999px
    )
  )
);

$pseudos: (last);

$config: (
  utilities: (
    $name: (
      shorthand: $shorthand,
      responsive: $responsive,
      responsive-pseudos: $responsive-pseudos,
      extra-selector: $extra-selector,
      properties: $properties,
      static-properties: $static-properties,
      variants: (
        $variants
      ),
      pseudos: (
        $pseudos
      )
    )
  )
);

core.$all-config: map.deep-merge(core.$all-config, $config);