@use "uniform/core";
@use "sass:map";

$range-limit: map.get(core.$all-config, range-limits, border-width);

$config: (
  utilities: (
    border-left-width: (
      shorthand: border-l,
      responsive: true,
      responsive-pseudos: false,
      extra-selector: null,
      properties: (border-left-width),
      static-properties: (),
      variants: (
        core.merge(
          core.positive-sizes($range-limit),
          (
            0: 0,
          )
        )
      ),
      pseudos: (first)
    )
  )
);

core.$all-config: map.deep-merge(core.$all-config, $config);
