@use "uniform/core";
@use "sass:map";

$config: (
  utilities: (
    border-style: (
      shorthand: border,
      responsive: false,
      responsive-pseudos: false,
      extra-selector: null,
      properties: (border-style),
      static-properties: (),
      variants: (
        solid: solid,
        dashed: dashed,
        dotted: dotted,
        double: double,
        none: none
      ),
      pseudos: ()
    )
  )
);

core.$all-config: map.deep-merge(core.$all-config, $config);