@use "uniform/core";
@use "sass:map";

$range-limit: map.get(core.$all-config, range-limits, max-width);

$config: (
  utilities: (
    max-width: (
      important: false,
      shorthand: max-w,
      responsive: true,
      responsive-pseudos: false,
      extra-selector: null,
      properties: (max-width),
      static-properties: (),
      variants: (
        core.merge(
          core.positive-sizes($range-limit),
          core.name-screens(),
          (
            0: 0,
            none: none,

            50p: 50%,
            100p: 100%,
            50vw: 50vw,
            100vw: 100vw,

            min: min-content,
            max: max-content,
            
            text: 64ch,
          )
        )
      ),
      pseudos: ()
    )
  )
);

core.$all-config: map.deep-merge(core.$all-config, $config);