@use "uniform/core";
@use "sass:map";

$range-limit: map.get(core.$all-config, range-limits, min-height);

$config: (
  utilities: (
    min-height: (
      important: false,
      shorthand: min-h,
      responsive: true,
      responsive-pseudos: false,
      extra-selector: null,
      properties: (min-height),
      static-properties: (),
      variants: (
        core.merge(
          core.positive-sizes($range-limit),
          (
            50p: 50%,
            100p: 100%,
            50vh: 50vh,
            100vh: 100vh,
          )
        )
      ),
      pseudos: ()
    )
  )
);

core.$all-config: map.deep-merge(core.$all-config, $config);