@use "uniform/core";
@use "sass:map";

$range-limit: map.get(core.$all-config, range-limits, max-height);

$config: (
  utilities: (
    max-height: (
      important: false,
      shorthand: max-h,
      responsive: true,
      responsive-pseudos: false,
      extra-selector: null,
      properties: (max-height),
      static-properties: (),
      variants: (
        core.merge(
          core.positive-sizes($range-limit),
          (
            0: 0,
            none: none,

            100p: 100%,
            100vh: 100vh,
            
            50p: 50%,
            50vh: 50vh,
          )
        )
      ),
      pseudos: ()
    )
  )
);

core.$all-config: map.deep-merge(core.$all-config, $config);